[submodule "submodule/LinAlgf90"]
	path = submodule/LinAlgf90
	url = https://github.com/Takayuki-Miyagi/LinAlgf90.git
[submodule "submodule/myfort"]
	path = submodule/myfort
	url = https://github.com/Takayuki-Miyagi/myfort.git
